/* Header.module.css */
.header {
    background-color: #007bff;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: flex-end;
    /* Alinha os itens à direita */
    align-items: center;
}

.userInfo {
    display: flex;
    align-items: center;
}

.userIcon {
    margin-right: 10px;
    font-size: 24px;
}

.userDetails {
    display: flex;
    flex-direction: column;
    text-align: right;
    /* Alinha o texto à direita */
}

.userName {
    font-weight: bold;
}

.userRole {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}