:root {
    --primary-color: #007bff;
    --text-color: #ffffff;
    --border-radius: 8px;
}

.header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: url('https://via.placeholder.com/1500x500');
    background-size: cover;
    background-position: center;
    height: 100px;
}

.header h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.headerContent {
    display: flex;
    align-items: center;
    gap: 15px;
}

.userName,
.role {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.welcome {
    font-style: italic;
    margin-right: 10px;
}

body {
    margin: 0;
}

.container {
    padding-top: 120px;
}